*{margin:0;padding:0;box-sizing: border-box;}
body{
  background: #2A2F31;
  font-family: monospace !important;
}
h3{
  font-size: 40px !important;
}
p{
  font-size: 18px !important;font-family: monospace !important;color: #ffffffd6;
}
#app{
  width: 95% !important;
  margin: 40px auto;
  min-height: 90vh !important;
  border: 1px solid gray;
  position: relative;
}
/* Start heading part */
#header{}
  #header nav img{width:40px;}
  #header nav .social-logo a{}
  #header nav .social-logo a:hover{color:#93ceff !important;}
  #header nav  .dropdown .dropdown-menu {
    top: 125%;
    left: -153px;
    float: left;
    min-width: 10.8rem;
    padding: .5rem 0;
    min-height: 100px;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 0;
}

#header nav .dropdown-item{color: white !important;background: #2a2f31;}
#header nav .dropdown-item:hover{color: #ffcccc !important;}
#header nav ul li{padding-right: 20px;}
.nav-item .active{font-weight: 700;}
#content{}
#search:focus{box-shadow: 0;}


.ls{
    color: rgba(187, 187, 187, 0.72);
    font-weight: 400;
    font-size: 16px;
    font-family: monospace;transition: .4s all ease;}
    .ls:hover{color: #d9d6d6 !important;
    font-weight: 700;}

  @media (min-width: 1200px){

  }
/*large device start */
  @media (min-width: 992px){

  }

/*Medium device start */
  @media (min-width: 768px){

  }

/*small device start */
  @media (min-width: 576px){

  }
